
label{
	display: block;
	position: relative;
	top: -30px;
	left: 0px;
	color: black;
	font-size: 13px;
	z-index: 1;
	transition: all 0.3s ease;

}
input{
	color:black;
	display: block;
	position: relative;
	background: none;
	border: none;
	border-bottom: 2px solid #ddd;
	width: 100%;
	font-family: 'Helvetica', sans-serif;
	font-size: 11px;
	z-index: 4;
	box-sizing: border-box;

}
input:focus, input:valid{
	outline: none;
	border-bottom: 1px solid #00aced;

}
input:focus + label, input:valid + label{
	top: -40px;
	font-size: 11px;
	color: #00aced;

}